.product-images {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.thumbnail-column {
    display: flex;
    flex-direction: column;
    max-height: 640px;
    overflow-y: auto;
    gap: 0.5rem;
}

.thumbnail {
    width: 120px;
    height: 120px;
    object-fit: cover;
    cursor: pointer;
}

.main-image-container {
    padding: 0.25rem;
    display: flex;
}

.main-image {
    width: 700px;
    height: 625px;
    object-fit: cover;
}